<section>

  <h2>All your comments:</h2>
  <div class="news">

{{#list allNewsAndCommentsToDisplay}}
{{/list}}
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/javascript/dashboard.js"></script>