<ol class="post-list">

    <li>
        <article>
            <article class="post">
                <div class="title">
                    Title
                </div>
                <div class="meta">
                    Meta
                </div>
            </article>
        </article>
    </li>
</ol>