   {{#each news}}
        </br>
        <section>
<div>
<img src={{image_url}} width="300">
</div>
<div>
Title: {{title}}
</div>
<div>
Description: {{description}}
</div>
<div>
Comments: {{comment_count}}
<button id="add-comment">Add Comment</button>
<button id="show-comment">Show Comments</button> 
{{!-- clicking button creates textarea --}}
</div>
</section>
<script src="/javascript/comment.js"></script>
  {{/each}}