   {{#each news}}
        </br>
        <section>
<div>
<img src={{image_url}} width="300">
</div>
<div>
Title: {{title}}
</div>
<div>
Description: {{description}}
</div>
<div>
Comments: {{comment_count}}
</div>
</section>
  {{/each}}