  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Olympic News</a>
      </h1>
      <nav>
        <a href="/dashboard">dashboard</a>
        <a href="/login">login</a>
      </nav>
    </header>

    <main>

  {{#each news}}
        </br>
        <section>
<div>
<img src={{image_url}} width="300">
</div>
<div>
Title: {{title}}
</div>
<div>
Description: {{description}}
</div>
<div>
Comments: {{comment_count}}
</div>
</section>
  {{/each}}

    </main>
    <footer>
         </br>
          </br>
           </br>
      Thanks for visiting!
    </footer>
  </div>