* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0; margin: 0; 
    font-family: sans-serif;
    color: #f4c20d;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
}